# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
build/
dist/

# ==========================================
# Virtual Environments
# ==========================================
rag_env/
venv/
.venv/
.env/

# ==========================================
# Environment Variables
# ==========================================
.env

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# IDEs
# ==========================================
.vscode/

# ==========================================
# macOS
# ==========================================
.DS_Store

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Downloaded Articles
# ==========================================
data/raw/webpages/komeil_roudi/

# ==========================================
# Generated Data
# ==========================================
data/processed/
data/chunks/
data/embeddings/
data/vectorstore/
data/index/

# ==========================================
# Models
# ==========================================
models/
checkpoints/

# ==========================================
# Cache
# ==========================================
.cache/
.pytest_cache/